.app-main {
    box-sizing: border-box;

    .breadcrumb-container {
        height: 40px;
        line-height: 40px;
    }

    .page {
        box-sizing: border-box;
        height: calc(100vh - 90px);
        overflow: auto;
        padding: 15px;
    }
}